*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    background-image: url("../image/header/bg-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header_first {
    background-color: #52503B;
}

.header_first .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {}

.header_menu ul {
    display: flex;
}

.header_menu li {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.header_menu ul li a {
    color: #fff;
}

.header_menu li+li {
    margin-left: 24px;
}

.header_button button {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin: 10px 0 19px;
    color: #52503B;
    cursor: pointer;
}

.header_second-logo {
    text-align: center;
    margin-top: 238px;
}

.header_second-title {
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 34px;
}

.header_second-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 34px;
}

.info {
    background-color: #FAF8F0;
    padding-top: 141px;
    padding-bottom: 89px;
}

.info__inner {
    display: flex;
}

.info__text-one {
    width: 360px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-left: 350px;
}

.info__text-two {
    width: 343px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    margin-left: 40px;
}

.info__text-two button {
    width: 107px;
    height: 42px;
    border: none;
    background: #52503B;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 41px;
    cursor: pointer;
}

.main-title__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
    margin: 140px 0;
}