*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    background-image: url("../image/header/bg-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header_first {
    background-color: #52503B;
}

.header_first .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu ul {
    display: flex;
}

.header_menu li {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.header_menu ul li a {
    color: #fff;
}

.header_menu li+li {
    margin-left: 24px;
}

.header_button button {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin: 10px 0 19px;
    color: #52503B;
    cursor: pointer;
}

.header_second-logo {
    text-align: center;
    margin-top: 238px;
}

.header_second-title {
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 34px;
}

.header_second-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 34px;
}

.sleeping-arrangements,
.info {

    background-color: #FAF8F0;
    padding-top: 141px;
    padding-bottom: 89px;
}

.info__inner {
    display: flex;
}

.info__text-one {
    width: 360px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-left: 350px;
}

.info__text-two {
    width: 343px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    margin-left: 40px;
}

.info__text-two button {
    width: 107px;
    height: 42px;
    border: none;
    background: #52503B;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 41px;
    cursor: pointer;
}

.main-title__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
    margin: 140px 0;
}

.sleeping-arrangements__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B;
}


.sleeping-arrangements__text {
    margin: 14px auto 30px;
    width: 554px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52503B;
}

.sleeping-arrangements__items {
    display: flex;
    justify-content: space-between;
}

.sleeping-arrangements__item-icon,
.sleeping-arrangements__item-title,
.sleeping-arrangements__item-text {
    text-align: center;
}

.sleeping-arrangements__item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    margin-top: 12px;
}

.sleeping-arrangements__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #52503B;
    width: 331px;
}

.benefits__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
    margin-top: 138px;
}

.benefits__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    margin: 14px 0 30px;
    width: 554px;
}

.benefits__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefits__item {
    display: flex;
}

.benefits__item-icon {
    margin-right: 16px;
}

.benefits__item+.benefits__item {
    margin-bottom: 42px;
}

.guests {
    background: #FAF8F0;
}

.guests__title {
    padding-top: 138px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #52503B;
}

.guests__text {
    max-width: 572px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    margin: 14px auto 30px;
    text-align: center;
}

.guests__items {
    display: flex;
    justify-content: space-around;
}

.guests__item {
    height: 266px;
    width: 584px;
    background-color: #fff;
    padding: 31px;
    margin-bottom: 150px;
    position: relative;
}

.guests__item-title {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.guests__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-top: 11px;
}

.guests__item-name {
    margin: 19px 0 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.guests__item-name::before {
    content: '';
    width: 2px;
    height: 20px;
    background: #E08631;
    position: absolute;
    left: 31px;
}

.come__img {
    text-align: center;
}

.come__title {
    margin: 138px 0 0 136px;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
}

.come__info {
    display: flex;
}

.come__text {
    width: 514px;
    margin: 14px 105px 130px 136px;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
}

.come__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 101px;
}

.come__item {
    display: flex;
}

.come__item-two,
.come__item-four {
    margin-left: 40px;
}

.come__item-text {
    margin-left: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    width: 203px;
}

.booking {
    background: #FAF8F0;
}

.booking__inner {
    text-align: center;
}

.booking__title {
    margin: 0 auto;
    padding-top: 138px;
    width: 533px;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
}

.booking__text {
    margin: 14px auto 0;
    width: 514px;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
}

.booking__btn {
    margin-top: 18px;
    padding-bottom: 100px;
}

.contact__btn {
    width: 116px;
    height: 52px;
    border: 4px solid #52503B;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    color: #52503B;
}

.book-now__btn {
    width: 133px;
    height: 52px;
    background: #52503B;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    margin-left: 20px;
}

.footer {
    background: #52503B;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    margin-left: 136px;
}

.footer__item-title {
    margin-top: 100px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__item-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__item-social {
    display: flex;
    margin-top: 20px;
}

.instagram+.instagram {
    margin-left: 10px;
}

.footer__item-text {
    width: 563px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__item-form {
    margin-top: 10px;
    position: relative;
}

.footer__item-form input {
    height: 52px;
    width: 576px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.footer__item-form input::placeholder {
    padding-left: 20px;
}

.footer__item-form button {
    height: 30px;
    width: 61px;
    background: #52503B;
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    position: absolute;
    right: 7px;
    top: 11px;
}

.footer__logo {
    margin-top: 48px;
    text-align: center;
}

.footer__addres {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.footer__links {
    margin-top: 20px;
    padding-bottom: 110px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}